@import "index.css";
@import "bootstrap.css";
@media only screen and (max-width: 768px){
    #container{
        width:768px;
    }
    .upper{
        display:none;
	}
	#aaa{
        height:70px;
        width:768px;
    }
    .navbar-fixed-top{
        top:0px;
    }
    .carousel-caption {
        right: 50%;
        left: 7%;
        padding-bottom: 240px;
    }
    .freedom4{
        display:block;
        font-size:30px;
        width:400px;
        height:30px;
    }
    .freedom2{
        display:none;
    }
    .freedom3{
        display:none;
    }
    .head3{
        left:77px;
    }
    .head6{
        left:80px;
    }
    .hbegin{
        display:block;
    }
    .hroute{
        display:block;
    }
    .hgood{
        display:block;
    }
    .hlast{
        display:block;
    }
    .hbottom1{
        display:block;
    }
    .begin2{
        display:none;
    }
    .route1{
        display:none;
    }
    .routep1{
        display:none;
    }
    .good1{
        display:none;
    }
    .goodp{
        display:none;
    }
    .picture{
        display:none;
    }
    .last{
        display:none;
    }
    .down1{
        display:none;
    }
    .bottom1{
        display:none;
    }
}